*{
    padding: 0;
    margin: 0;
    font-family: cursive;
}
.d-block{
  display: none;
}
.game{
  width: 100%;
  height: 100vh;
  background-image: url('grass.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.car , .enemy{
    width: 50px;
    height: 80px;
    background:  red;
    /* color: red; */
    position : absolute;
    background-image: url('car.svg');
    background-repeat: no-repeat;
    background-size: cover;
    /* left: 10px; */
    bottom : 120px; 
 }

.game_area{
    width: 400px;
    height: 100vh;
    background: #2d3436;
    position: relative;
    overflow: hidden;
    margin:auto;
    border-right: 5px dashed white ;
    border-left: 5px dashed white;
}
.line{
    width: 10px;
    height: 100px;
    background: white;
    position: absolute;
    margin-left: 195px ;
}
/* .enemy{
    width: 50px;
    height: 70px;
    background: red;
    position : absolute;
    /* left :50px; */
    /* left: 10px;
    bottom : 120px; 
    padding: 0;
    margin: 0;
} */ 
.score{
    position:absolute;
     top: 60px;
     left: 60px;
     background: #130f40;
     width: 200px;
     line-height: 50px;
     text-align: center;
     color: whitesmoke;
     font-size: 2rem;
     box-shadow: 0 5px 5px #777 ;
     /* padding: 5px 20px; */
    }
    .permission{
        position: absolute;
        background-color:#EA2027;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: wheat;
        z-index: 1;
        text-align: center;
        border: 1px solid #ff6b6b;
        padding: 15px;
        margin: auto;
        width: 50%;
        cursor: pointer;
        letter-spacing: 4;
        font-size: 1.2em;
        word-spacing: 3;
        line-height: 40px;
        text-transform: uppercase;
        box-shadow: 0 5px 5px #777;
    }